@charset "UTF-8";

/* Canvas用CSS*/

* {
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

canvas {
  margin-top: 50px;
  margin-left: 50px;
  border: solid 3px gray;
}

#yoko,
#tate {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 15px;
}


input[type="text"] {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 20px;
  width: 25px;
  height: 25px;
}

.start_point {
  text-align: center;
  margin: 1em 0;
}

#siten {
  margin-left: 180px;
  font-size: 15px;
}

#start_point {
  margin-left: 10px;
  font-size: 21px;
}

.control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 0;
}

.control button {
  color: steelblue;
  width: 8em;
}

#sokudo {
  margin-left: 180px;
}